<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Potato Chat</title>
    <h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}</h3>
    {% if not current_user.is_authenticated %}
        <button id="to_login" type="button">Login</button>
        <script type="text/javascript">
            document.getElementById("to_login").onclick = function() {
                location.href = "/login";
            };
        </script>
    {% else %}
        <button id="to_createroom" type="button">Create Room</button>
        <button id="to_logout" type="button">Logout</button>
        <script type="text/javascript">
            document.getElementById("to_logout").onclick = function() {
                location.href = "/logout";
            };

            document.getElementById("to_createroom").onclick = function() {
                location.href = "/create-room/"
            }
        </script>
    {% endif %}
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <h3>Choose your room below(You could also be invited to a room)</h3>
            <ul>
                {% for room in rooms %}
                    <li><a href="/rooms/{{ room._id.room_id }}">{{ room.room_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Log in to create or join room</h3>
        {% endif %}
    </body>
</html>