<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Potato Chat</title>
    </head>
    <body>
        <h1>Login</h1>
        <h3>{{ message }}</h3>
        <button id="to_signup" type="submit">Click me to signup if no account</button>
        <script type="text/javascript">
            document.getElementById("to_signup").onclick = function() {
                location.href = "/signup";
            };
        </script>
        <form method="post" action="/login">
            <label>Username:</label>
            <input type="text" name="username">
            <br>
            <label>Password:</label>
            <input type="password" name="password">
            <br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>